<div class="panel-body">
  <div class="media">
    <a class="media-left" href="#fake"> <!--todo add link to userpage-->
      <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64"> <!--todo load user icon-->
    </a>
    <div class="media-body">
      <a href="/user/{{kweet.ownerName}}"><h4 class="media-heading"> @{{ kweet.ownerName }} </h4></a>
      <div class="kweet_date"> {{ kweet.postDate }}</div>
      <p class="kweet_message"> {{ kweet.message }} </p>
      <ul class="nav nav-pills nav-pills-custom">
        <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
      </ul>
    </div>
  </div>
</div>
