<div class="panel panel-default">
  <div class="panel-body">
    <a href="#"><img class="img-responsive" alt="" src="http://placehold.it/128x128"></a>
    <div class="row">
      <div class="col-xs-3">
        <h5>
          <small>TWEETS</small>
          <a href="#">1,545</a>
        </h5>
      </div>
      <div class="col-xs-4">
        <h5>
          <small>FOLLOWING</small>
          <a href="#">251</a>
        </h5>
      </div>
      <div class="col-xs-5">
        <h5>
          <small>FOLLOWERS</small>
          <a href="#">153</a>
        </h5>
      </div>
    </div>
  </div>
</div>
